.container-chart{
    width: 80vw;
    max-width: 80vw;
    /* background-color: rgba(125,125,125, 0.2); */
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 100vh;
    height: max-content;
}

.row{
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card{
    border: solid 3px #2D104D;
    border-radius: 2%;
    background-color: white;
    width: 200px;
    height: 200px;
    margin: 2%;
}

.selected{
    background-color: #8C7DB280;
}

.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.card-container img{
    width: 40%;
}

.card-container span{
    margin-top: 3%;
}

.card-container span a {
    text-decoration: none;
}

.card-container span a:hover {
    font-size: 2rem;
}

.d-none{
    display:none;
}

