nav{
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color: #DDD8E2;
    border-bottom: 1px solid #ffffff50;
    padding-bottom: 10px;
    padding-top: 20px;
    
}

nav img{
    max-height: 5vh;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

nav ul li{
    
    margin-left: 4%;
    min-width: max-content;
    display: flex;
    align-items: center;
}




nav ul li:last-child{
    margin-left: 10%;
}



nav ul li a{
    text-decoration: none;
    color: #DDD8E2;
}

nav ul li a:hover{
    color: white;
}

